/* Reset some default browser styles */
body, ul {
  margin: 0;
  padding: 100;
}

/* Style for the header */
.site-header {
  background-color: #17a0bf;
  color: #fff;
  padding: 70px;
  text-align: center;
  font-size: 30px;
  font-family: Helvetica;
}

/*Stlye for the logo */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  padding: 10px;
}

.logo img {
  max-width: 250px;
  height: auto;
}

/* Style for the navigation menu */
nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-right: 150px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Change link color on hover */
nav ul li a:hover {
  color: #ffcc00;
}

/* Style for the search bar */
.search-bar {
  margin-top: 10px;
  padding: 300;
  text-align: right;
  font-family: helvetica;
}

.search-bar input[type="text"] {
  padding: 5px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 6px 10px;
  background-color: #333;
  color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #ffcc00;
  color: #17a0bf;
}